{% extends 'base.html.twig' %}

{% block title %}Symfony UX & Hotwire Demo{% endblock %}

{% block body %}
<div>
    <h1>Symfony UX & Hotwire Demo</h1>

    <p>This site demonstrates various Hotwire features. Find the code [on github](https://github.com/dbu/symfony-ux-demo).</p>

    <ul>
        <li><a href="{{ path('app_plain') }}">Plain</a></li>
        <li><a href="{{ path('app_drive') }}">Turbo Drive</a></li>
        <li>Turbo Frames</li>
        <li>Turbo Streams</li>
        <li>SSE</li>
    </ul>

    <p>Use the top navigation to switch between the different demos.</p>
    <p>&copy; 2026, <a href="https://davidbu.ch">David Buchmann</a></p>
</div>
{% endblock %}
