* text=auto eol=lf

*.conf text eol=lf
*.html text eol=lf
*.ini text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.php text eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
bin/console text eol=lf
composer.lock text eol=lf merge=ours

*.ico binary
*.png binary

tests/ export-ignore
var/ export-ignore
vendors/ export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.env.local export-ignore
.env.local.php export-ignore
.env.*.local export-ignore
compose.override.yaml export-ignore
config/secrets/prod/prod.decrypt.private.php export-ignore
public/bundles/ export-ignore
public/assets/ export-ignore
assets/vendor/ export-ignore
deploy.mk export-ignore
