{% extends 'base-turbo.html.twig' %}

{% block title %}Turbo Frames{% endblock %}

{% block body %}
<div>
    <h1>Symfony with Turbo Frames</h1>

    <label for="area">Note:</label>
    <textarea id="area" style="width: 100%; height: 4rem;">Write something here to see that this element is not changed.</textarea>

    <div>
        <turbo-frame id="variable-content">
            <p>Edit the text area above, then navigate to the <a href="{{ path('app_frames_target') }}">target</a> page to see just a frame being replaced.</p>
        </turbo-frame>
    </div>
</div>
{% endblock %}
